---
layout: main
---

<div class="container">

	{{ content }}

</div><!--end container-->

<div class="footer"><!-- footer -->
	<!-- <div id="footer" class="mobile-hide"><a href="http://www.engin.umich.edu/ioe" target="_blank"><img class="display center mobile-hide" src="/img/U-M_2color-Horizontal.png" title="University of Michigan, Ann Arbor" width="375" height="40.5"></a></div> -->

	<!-- <div id="footer" class="mobile-show"><a href="http://www.engin.umich.edu/ioe" target="_blank"><img class="display center" src="/img/BlockM-rball.png" title="University of Michigan, Ann Arbor" width="67" height="45"></a></div> -->

</div>
