---
layout: default
---

<!-- #### Sidebar ###### -->
<div class="two columns first mobile-hide">
  <img class ="research-thumbnail" src="/img/tomlogan.jpg" title="Tom Logan" width="140" height=100%>
  <p> Tom Logan <br>
    <a href="mailto:tomlogan@umich.edu" target="_top">Email</a>
  </p>
</div>
<!-- #### Hello #### -->
<div class="ten columns first">



  <!-- Current Projects -------------------------->
	<h2>{{ page.title }}</h2>
  {{ content }}
  <!-- end Current Projects -------------------------->

</div>
