---
layout: default
---

<!-- #### Sidebar ###### -->
<div class="two columns first mobile-hide">
  <img class ="research-thumbnail" src="/img/tomlogan.jpg" title="Tom Logan" width="140" height=100%>
  <p> Tom Logan <br>
    <!-- <a href="mailto:tomlogan@umich.edu" target="_top">Email</a> -->
  </p>
</div>
<!-- #### Hello #### -->
<div class="ten columns first">



  <!-- Current Projects -------------------------->
	<h2>{{ page.title }}</h2>
  {{ content }}
  <!-- end Current Projects -------------------------->

</div>

<div class="footer"><!-- footer -->
  <div id="footer" class="mobile-hide"><a href="http://www.engin.umich.edu/ioe" target="_blank"><img class="display center mobile-hide" src="/img/U-M_2color-Horizontal.png" title="University of Michigan, Ann Arbor" width="375" height="40.5"></a></div>

  <div id="footer" class="mobile-show"><a href="http://www.engin.umich.edu/ioe" target="_blank"><img class="display center" src="/img/BlockM-rball.png" title="University of Michigan, Ann Arbor" width="67" height="45"></a></div>

</div>
