---
layout: default
---

<!-- #### Sidebar ###### -->
<div class="two columns first mobile-hide">
  <a href='/'><img class ="research-thumbnail" src="/img/tomlogan.jpg" title="Tom Logan" width="140" height=100%></a>
  <p> Tom Logan <br>
    <!-- <a href="mailto:tomlogan@umich.edu" target="_top">Email</a> -->
  </p>
  <img class ="research-thumbnail" src="/img/twilliams.jpg" title="Tim Williams" width="140" height=100%>
  <p> Tim Williams <br>
    <a href="http://timwilliams.kiwi" target="_top">Website</a>
  </p>
</div>
<!-- #### Hello #### -->
<div class="ten columns first">



  <!-- Current Projects -------------------------->
  <h2>{{ page.title }}</h2>
  {{ content }}
  <!-- end Current Projects -------------------------->

</div>
